node_modules
.tmp
npm-debug.log
package-lock.json
package-lock.*
.waterline
.node_history

*.swo
*.swp
*.swn
*.swm
*.seed
*.log
*.out
*.pid
lib-cov
.DS_STORE
.DS_Store
*#
*\#
.\#*
*~
.idea
.netbeans
nbproject

dump.rdb